{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans %} - {% trans %}Fiche Tronçonnage{% endtrans %}
{% endblock %}

{% block titre_page %}
    <h2 class="text-dark font-weight-bold mb-2">
        <img src="{{ asset('assets/images/webapp/billons.png') }}" height="92" alt="{% trans %}Direction{% endtrans %}">  {% trans %}Fiche Journalière de  tronçonnage{% endtrans %}
    </h2>
{% endblock %}


 {% block notifs %}
     {% include 'base/notifs.html.twig' %}
 {% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}


    {#<link rel="stylesheet" href="{{ asset('assets/webapp/assets/vendors/simple-datatables/style.css') }}">#}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.1/css/buttons.dataTables.css">
    <link rel="stylesheet" href="{{ asset('assets/assets/css/modal.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
   <section class="section" style="font-size: 20px;">
        <div class="card">
            <h4 class="alert-success p-1 mb-2">Cliquez sur une date de tronçonnage pour afficher les billons</h4>
            <div class="row p-2">
                <div class="col-md-2 p-2 m-2 " style="height: 550px; border: 1px solid lightgrey">
                    <table class="table table-responsive w-100" style="font-size: 18px;">
                        <thead class="alert-light">
                            <tr>
                                <th class="font-weight-bold" style="font-size: 18px;">Date Tronçonnage</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fiche in fiches %}
                                <tr>
                                    <td class="font-weight-bold" style="font-size: 18px;"><a class="date_tronconnage" href="#" id="{{ fiche.id }}">{{ fiche.dateLot | date('d/m/Y') }}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-9 m-2 p-2" style="height: 550px; border: 1px solid lightgrey;background-color: #e2e8ec">
                    <div class="card-body text-center  alert-info" id="body_contenu" style="height: 500px;overflow-y: scroll;background-color: #e2e8ec"><img class="img-responsive img-fluid mx-auto my-auto" src="{{ asset('assets/images/logo_snvlt.png') }}" alt="logo_SNVLT" style="height: 256px;"></div>
                </div>
            </div>


        </div>

        <!-- Modal Type Transfo-->
        <div class="modal fade" id="edit_transfo" data-bs-backdrop="static" tabindex="-1">
            <div class="modal-dialog">
                <form class="modal-content">
                    <div class="modal-header alert-success">
                        <h5 class="modal-title" id="backDropModalTitle"><img src="{{ asset('assets/images/webapp/wood.png') }}" alt="daily_sheet" style="margin-right: 10px; height: 32px;">Type transformation</h5>
                        <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">

                        <select class="form-control alert-warning" style="font-size: 18px;" name="id_transfo" id="id_transfo">
                            <option value="0">Sélectionner le type de transformation</option>
                            {% for transfo in app.user.codeindustriel.typeTransformation %}
                                <option value="{{ transfo.id }}">{{ transfo.libelle }}</option> +
                            {% endfor %}
                        </select>
                        <div class="text-center mt-3">

                            <a type="button" class="btn btn-primary font-weight-light  accept_loading" id="valider_transfo" style="font-size: 16px;margin-left: 15px;">
                                <i class="mdi mdi-check-circle text-white ms-4" style="font-size: 20px;margin-right: 5px;"></i> Sélectionner
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>


       <!-- Cloturer la fiche de tronconnage-->
       <div class="modal fade" id="cloturer_fiche" data-bs-backdrop="static" tabindex="-1">
           <div class="modal-dialog">
               <form class="modal-content">
                   <div class="modal-header alert-success">
                       <h5 class="modal-title" id="backDropModalTitle"><img src="{{ asset('assets/images/webapp/wood.png') }}" alt="loading" style="margin-right: 10px; height: 32px;"> {{ 'Production daily sheet' | trans}}</h5>
                       <button
                               type="button"
                               class="btn-close"
                               data-bs-dismiss="modal"
                               aria-label="Close"
                               style="display: none;"
                       ></button>
                   </div>
                   <div class="modal-body">
                       <div class="justify-content-start d-inline-flex">
                           <div class="m-2">
                               <img src="{{ asset('assets/images/webapp/attention.png') }}" alt="attention">
                           </div>
                           <div class="m-2">
                               <label for="motif" class="font-weight-bold  text-center alert-danger text-danger">Attention !!! </label>
                               <label for="motif" class="text-dark font-weight-bold">Vous allez clôturer cette fiche</label>
                               <p class="text-danger">Vous ne pourrez plus ajouter de nouvelles billes à la découpe</p>
                               <h6  class="font-weight-bold mt-5 text-primary">Voulez-vous clôturer cete fiche ?</h6>
                           </div>
                       </div>

                       <div class="text-center mt-3">
                           <a type="button" class="btn btn-danger text-white font-weight-light refuser" data-bs-dismiss="modal" id="#"  style="font-size: 18px;">
                               <i class="mdi mdi-cancel text-white me-2 " style="font-size: 20px;margin-right: 5px;"></i>{{ 'Cancel'|trans }}
                           </a>
                           <a type="button" class="btn btn-success accepter font-weight-light  terminate" id="terminate" style="font-size: 18px;margin-left: 15px;">
                               <i class="mdi mdi-check-circle text-white ms-4" style="font-size: 20px;margin-right: 5px;"></i> {{ 'Terminate'|trans }}
                           </a>
                       </div>
                   </div>
               </form>
           </div>
       </div>


    </section>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>

    <script src="https://cdn.datatables.net/buttons/3.0.1/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.print.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script>

        let id_billon = 0;
        let id_fiche_tr= 0;

        $('.date_tronconnage').on('click', function(){
            id_fiche_tr = this.id;
            affiche_billons(this.id)
        })
        function affiche_billons(id_fiche){

            let contenu = "";
            let contenu_cloture = "";
                $.ajax({
                    url : '{{ path('app_portail') }}snvlt/liste_billons/fiche_lot/' + id_fiche,
                    type: 'POST',
                    success : function (response){
                        let valeur = JSON.parse(response);
                        if (valeur.length > 0){
                            contenu = '<div class="p-1"><a class="btn p-1 mb-2 text-white" style="background: orangered;font-size:18px;"><i class="mdi mdi-printer me-2"></i> Imprimer la fiche</a>'
                            contenu = contenu +'<div class="form-check form-switch p-1 bg-warning div_cloture" style="border: 2px solid darkgreen;"></div>';
                            contenu = contenu +'<table class="table">' +
                                        '<thead class="font-weight-bold alert-light">' +
                                        '<th style="width: 20%;">Billon</th>' +
                                        '<th style="width: 20%;">Essence</th>' +
                                        '<th style="width: 5%;">Lng</th>' +
                                        '<th style="width: 5%;">Dm</th>' +
                                        '<th class="alert-warning" style="width: 20%;">Transformation</th>' +
                                        '</thead>' +
                                        '<tbody>';
                                            if (valeur.length > 0){
                                                for(var i=0;i<valeur.length;i++){
                                                    contenu = contenu + '<tr>';
                                                    contenu = contenu + '<td><span class="badge alert-success font-weight-bold text-dark" style="font-size: 18px;">' + valeur[i].numero_billon + '</span></td>';
                                                    contenu = contenu + '<td class="font-weight-bold">' + valeur[i].essence + '</td>';
                                                    contenu = contenu + '<td class="font-weight-bold">' + valeur[i].lng + '</td>';
                                                    contenu = contenu + '<td class="font-weight-bold">' + valeur[i].dm + '</td>';
                                                    if (valeur[i].type_transfo === ""){
                                                        contenu = contenu + '<td class="alert-warning">' +
                                                            '<select class="form-control select_transfo" style="font-size:18px;" value="'+ valeur[i].type_transfo + '" id="' + valeur[i].id_billon + '">' +
                                                            '<option value="0">Type Transfo</option>' +
                                                                {% for transfo in app.user.codeindustriel.typeTransformation %}
                                                            '<option value="{{ transfo.id }}">{{ transfo.libelle }}</option>' +
                                                                {% endfor %}
                                                            '</select></td>';
                                                    } else {
                                                        if (valeur[i].type_transfo === "DEROULAGE" ){
                                                            contenu = contenu + '<td><span class="badge p-2 bg-primary font-weight-bold text-white" style="font-size: 18px;">' + valeur[i].type_transfo + '</span><a class="btn edit_transfo" style="margin-left:5px;" data-bs-target="#edit_transfo" data-bs-toggle="modal" id="'+ valeur[i].id_billon + '"><img src="{{ asset('assets/webapp/assets/vendors/bootstrap-icons/pencil-fill.svg') }}" alt="edit"></a></td>';
                                                        } else if (valeur[i].type_transfo === "SCIAGE" || valeur[i].type_transfo === "TRANCHAGE" ){
                                                            contenu = contenu + '<td><span class="badge p-2 bg-danger font-weight-bold text-white" style="font-size: 18px;">' + valeur[i].type_transfo + '</span><a class="btn edit_transfo" style="margin-left:5px;" data-bs-target="#edit_transfo" data-bs-toggle="modal" id="'+ valeur[i].id_billon + '"><img src="{{ asset('assets/webapp/assets/vendors/bootstrap-icons/pencil-fill.svg') }}" alt="edit"></a></td>';
                                                        }
                                                    }

                                                    contenu = contenu + '</tr>';
                                                }
                                                if(valeur[0].cloture === true){
                                                    contenu_cloture = contenu_cloture + '<h2 class="alert-info font-weight-bold p-1">Cette fiche est cloturée par l\'ajout d\'un billon</h2>'
                                                } else {
                                                    contenu_cloture = contenu_cloture +'<input class="alert-success form-check-input chk_fiche" data-bs-target="#cloturer_fiche" data-bs-toggle="modal" type="checkbox" id="' + id_fiche + '" name="darkmode" value="no" style="cursor: pointer;">'
                                                    contenu_cloture = contenu_cloture +'<label class="font-weight-bold text-dark label_fiche" data-bs-target="#cloturer_fiche" data-bs-toggle="modal" for="cloture_tr" style="cursor: pointer;">Cloturer Tronçonnage</label>'
                                                    contenu_cloture = contenu_cloture +'</div>'
                                                }
                                        }
                            document.querySelector('#body_contenu').innerHTML = contenu;
                            document.querySelector('.div_cloture').innerHTML = contenu_cloture;
                        }
                    }
                })
        }

        $('body').on('change', '.select_transfo', function (){
            let id_billon = this.id;
            let id_type_transfo = this.value;
            $.ajax({
                url: '{{ path('app_portail') }}snvlt/liste_billons/fiche_lot/billon/maj_transfo/' + id_billon + '/' + id_type_transfo,
                type: 'POST',
                success: function (response) {
                    let reponse = JSON.parse(response);
                    if (reponse[0].code === "SUCCESS"){
                        let date_tronconnage = $('#date_tronconnage').val();
                        affiche_billons(date_tronconnage)
                        alert('Transformation mise à jour');
                    }
                }
            });

        })
        $('body').on('click', '.edit_transfo', function (){
            id_billon = this.id;
        });
        $('body').on('click', '.refuser', function (){
            document.querySelector('.chk_fiche').checked = false;
        });$('body').on('click', '.label_fiche', function (){
            document.querySelector('.chk_fiche').checked = true;
        });
        $('body').on('click', '.accepter', function (){
            clotuer_tronconnage(id_fiche_tr);
        });


        $('body').on('click', '#valider_transfo', function (){
            let id_type_transfo = $('#id_transfo').val();
            $.ajax({
                url: '{{ path('app_portail') }}snvlt/liste_billons/fiche_lot/billon/maj_transfo/' + id_billon + '/' + id_type_transfo,
                type: 'POST',
                success: function (response) {
                    let reponse = JSON.parse(response);
                    if (reponse[0].code === "SUCCESS"){
                        let date_tronconnage = $('#date_tronconnage').val();
                        affiche_billons(date_tronconnage)
                        $('#edit_transfo').modal('hide')
                    }
                }
            });

        })

        function clotuer_tronconnage(){
            if (id_fiche_tr > 0){
                $.ajax({
                    url: '{{ path('app_portail') }}snvlt/fiche_lot/billon/cloture/'   + id_fiche_tr,
                    type: 'POST',
                    success: function (response) {
                        let reponse = JSON.parse(response);
                        if (reponse[0].CODE === "SUCCESS"){
                            affiche_billons(id_fiche_tr)
                            alert("FICHE TRONCONNAGE  CLÔTUREE")
                            $('#cloturer_fiche .btn-close').click()
                        }
                    }
                });
            }
        }
    </script>



{% endblock %}