{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans %} - {% trans %}Widgets{% endtrans %}
{% endblock %}

{% block titre_page %}
    <h2 class="text-dark font-weight-bold mb-2">
        <img src="{{ asset('assets/images/webapp/widget.png') }}" alt="{% trans %}Widget{% endtrans %}">  {% trans %}Widgets{% endtrans %}
    </h2>
    <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
        <div class="btn-group p-1 rounded-5 " role="group" aria-label="Basic example">
            <a class="btn btn-inverse-danger p-2 mt-2" style="border: 0px; font-size: 16px;" href="{{ path('gadget.edit') }}"> <i class="mdi mdi-plus-circle me-2" style="font-size: 20px;"></i>{% trans %}Add{% endtrans %}</a>
        </div>
    </div>
{% endblock %}


 {% block notifs %}
     {% include 'base/notifs.html.twig' %}
 {% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}
    <link rel="stylesheet" href="{{ asset('assets/webapp/assets/vendors/simple-datatables/style.css') }}">
    <section class="section">
        <div class="card">
            <div class="card-body">
                <table class="table table-responsive" id="drs">
                    <thead>
                    <tr style="background: #f55e04;color: #fcf8f8">
                        <th>{% trans %}Libelle{% endtrans %}</th>
                        <th>{% trans %}references{% endtrans %}</th>
                        <th>{% trans %}Groupe{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for gadget in gadgets %}

                        <tr style="background-color: #e6f8e7; font-size: 16px;">
                            <td class="text-dark fw-bold"><a class="link-dark editBtn" style="font-weight: bold;color: #370905" href="{{ path('gadget.edit', {'id_gadget': gadget.id })}}" id="{{ gadget.id }}">{{ gadget.libelle }}</a></td>
                            <td><span class="badge bg-white text-danger font-weight-bold rounded-5" style="font-size: 20px; border: 1px solid">{{ gadget.reference }}</span></td>
                            <td>
                                {% for gd in gadget.codeGroupe  %}
                                    <span class="badge text-white p-2" style="font-weight: lighter;font-size: 14px;border-radius: 10px;background-color: rgba(85,84,84,0.89)">
                                        {{ gd.nomGroupe }}
                                    </span>
                                {% endfor %}
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </section>

    <script src="{{ asset('assets/webapp/assets/vendors/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ asset('assets/webapp/assets/vendors/jquery/jquery.min.js') }}"></script>

    <script>
        // Simple Datatable
        let table1 = document.querySelector('#drs');
        let dataTable = new simpleDatatables.DataTable(table1);
    </script>
{% endblock %}

