{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans %} - {% trans %}PS Autorisations{% endtrans %}
{% endblock %}


{% block titre_page %}
    <h2 class="text-dark font-weight-bold mb-2">
        <img src="{{ asset('assets/images/webapp/attribution.png') }}" alt="attribution">  {% trans %}PS Autorisations{% endtrans %} - {% trans %}[ADD]{% endtrans %}
    </h2>
{% endblock %}


 {% block notifs %}
     {% include 'base/notifs.html.twig' %}
 {% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}
    {% set options = option_service.findAll %}
    <link href="{{ asset('assets/dselect-main/dist/css/dselect.css') }}" rel="stylesheet" />
    <section class="section">
        <div class="p-2 w-100 banniere"></div>
        <div class="card">
            <div class="card-body">
                {{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}
                <div class="row p-3 bg-white m-1">
                    <div class="col-md-4">

                        <div class="">{{ form_row(form.numero_auto_ps) }}</div>
                        <div class="">{{ form_row(form.date_delivrance)}}</div>
                        <div class="">{{ form_row(form.date_expiration) }}</div>
                        <div class="">{{ form_row(form.code_produit) }}</div>
                        <div class="">{{ form_row(form.code_dossier) }}</div>
                        <div class="">{{ form_row(form.montant_autorisation) }}</div>

                        {% set valeur = options['autorisations_validation'] %}

                        <hr>
                        <a href="{{ path('ref_directions') }}" class="btn btn-sm bg-danger p-2 me-2 ms-5 text-white" style="font-weight: lighter"><i class="mdi mdi-backspace" style="font-size: 18px;margin-right: 10px;"></i>{% trans %}Back to list{% endtrans %}</a>
                        <button type="submit"  class="btn btn-sm bg-primary text-white p-2" style="margin-left: 10px;font-weight: lighter">
                            <i class="mdi mdi-database-edit" style="font-size: 18px;margin-right: 10px"></i>{% trans %}Add Autorisation{% endtrans %}
                        </button>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>



        <!--Modification de l'attribution -->

    </section>

    <script src="{{ asset('assets/dselect-main/dist/js/dselect.min.js') }}"></script>
    <script src="{{ asset('assets/assets/js/jquery.min-3.5.1.js') }}"></script>
    <script src="{{ asset('assets/select2/select2.min.js') }}"></script>

    <script>

        $(document).ready(function() {
            let numero_dossier = 0;
            {% if(lastnumber) %}
                numero_dossier = {{ lastnumber.numeroAutoPs }} + 1
            {% else %}
                numero_dossier =  + 1
            {% endif %}
            load_montant($('.code_produit').val());
            document.querySelector('.numero_dossier').value = numero_dossier;

            $('.code_produit').on('change', function (){

                load_montant(this.value)
            });


            function load_montant(id_type_dossier){
                $.ajax({
                    url : '{{path('app_portail')}}snvlt/ref/natureps/' + id_type_dossier ,
                    type: 'POST',
                    success : function (response){
                        let reponse = JSON.parse(response);
                        console.log(reponse)
                        if(reponse.length > 0){
                            document.querySelector('.montant').value = reponse[0].montant_autorisation;
                           let date_delivrance = document.querySelector('.date_delivrance').value;
                           //alert (date_delivrance + '01/'+ reponse[0].duree_autorisation + '/2024')
                            //document.querySelector('.date_expiration').value = date_delivrance + reponse[0].duree_autorisation * 30;
                        }
                    }
                })
            }

        });

    </script>




{% endblock %}

