{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans %} - {% trans %}Mes coupons{% endtrans %}
{% endblock %}

{% block titre_page %}
    <h2 class="text-dark font-weight-bold mb-2">
        <img src="{{ asset('assets/images/webapp/tag.png') }}" alt="{% trans %}coupon{% endtrans %}">  {% trans %}Mes coupons{% endtrans %}  - {% trans %}[ADD]{% endtrans %}
    </h2>
{% endblock %}


 {% block notifs %}
     {% include 'base/notifs.html.twig' %}
 {% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}
    <link rel="stylesheet" href="{{ asset('assets/webapp/assets/vendors/simple-datatables/style.css') }}">
    <section class="section">
        <div class="card">
            <div class="card-body">
                {{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}
                <div class="row p-3 bg-white m-1">
                    <div class="col-md-6">
                        <div class="">{{ form_row(form.codeContrat) }}</div>
                        <div class="">{{ form_row(form.nbJours) }}</div>

                        <hr>
                        <a href="{{ path('app_coupon_coupon') }}" class="btn btn-sm bg-danger p-2 me-2 ms-5 text-white" style="font-weight: lighter"><i class="mdi mdi-backspace" style="font-size: 18px;margin-right: 10px;"></i>{% trans %}Back to list{% endtrans %}</a>
                        <button type="submit"  class="btn btn-sm bg-primary text-white p-2" style="margin-left: 10px;font-weight: lighter">
                            <i class="mdi mdi-database-edit" style="font-size: 18px;margin-right: 10px"></i>Ajouter le coupon
                        </button>
                    </div>
                    <div class="col-md-6">
                        <p class="alert-danger p-2" style="font-size: 18px;">
                            Une fois le coupon enregistré, un numéro ou code coupon sera généré. vous allez cliquez sur ce numéro pour renseigner tous les détails du coupon.
                        </p>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>

    </section>

    <script src="{{ asset('assets/webapp/assets/vendors/jquery/jquery.min.js') }}"></script>


{% endblock %}

