{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans %} - {% trans %}Add Group{% endtrans %}
{% endblock %}

{% block titre_page %}
    <h2 class="text-dark font-weight-bold mb-2">
        <img src="{{ asset('assets/images/webapp/groupe.png') }}" alt="attribution">  {% trans %}Group{% endtrans %} <span class="text-danger">{{ groupe_selected.nomGroupe }}</span>
    </h2>
    <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
        <div class="btn-group p-1 rounded-5 " role="group" aria-label="Basic example">
            <a class="btn  p-2 mt-2 font-weight-light" style="background: #e63c03; color: white; border: 0; font-size: 12px;" href="#"> {% trans %}Mettre à jour{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <link rel="stylesheet" href="{{ asset('assets/jstree/dist/themes/proton/style.min.css') }}" />

    <hr style="border-color: red">
    <section class="section mt-2 bg-white sticky-top">
        <div class="alert-success p-2 mb-3 w-100">Dérouler les menus pour sélectionner les rubriques</div>
        <div id="liste_menus" class="p-2">

        </div>


        <!--Modification de l'dr -->

    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="{{ asset('assets/jstree/dist/libs/jquery.js') }}"></script>
    <script src="{{ asset('assets/jstree/dist/jstree.min.js') }}"></script>
    <script>
        $('#liste_menus').jstree({
            "plugins" : ["checkbox" ],
            'core' : {
                'themes': {
                    'name': 'proton',
                    'responsive': true
                },
                'data' : [
                    {% for menu in liste_menus %}

                    {
                        'text' : '{{ menu.nomMenu }}',
                            'state' : {
                                'opened' : false
                            },
                        'children' : [
                            {% for menu  in menu_groupe.findByCodeMenu(menu.id) %}
                            {#{{ dump(liste_parent.findMenuByGroupeAndMenu(groupe_selected.id, menu.id)) }}#}
                                {% if( liste_parent.findMenuByGroupeAndMenu(groupe_selected.id, menu.id) ) %}
                                    {
                                        'text': '{{ menu.nomMenu }}',
                                        'id': '{{ menu.id }}',
                                        'state': {
                                            'selected': true,
                                            'opened' : false
                                        }
                                    },
                                {% else %}
                                    { 'text' : '{{ menu.nomMenu }}' },
                                {% endif %}
                            {% endfor %}
                        ]
                    },
                    {% endfor %}
                ]
            }
        }).on('changed.jstree', function () {
            $('#liste_menus').jstree("close_all");
        });
        $("#liste_menus").jstree(true).set_icon(nodeId, "{{ asset('assets/icons/16x16/pdf2.png') }}");
    </script>
{% endblock %}

