{% extends 'base.html.twig' %}

{% block banniere %}
    <!-- Page Header Start -->
    <div class="container-fluid page-essence py-5 mb-5 wow fadeIn" data-wow-delay="0.9s">
        <div class="container text-center py-5">
            <h3 class="display-4 text-white animated slideInDown mb-4">Essences en vigueur en Côte d'Ivoire</h3>
        </div>
    </div>
    <!-- Page Header End -->
{% endblock %}

{% block Contenu %}
    <link rel="stylesheet" href="{{ asset('assets/table/dist/bootstrap-table.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/table/assets/all.css') }}">

    <div class="container mx-auto">
        <h1 class="m-2 text-success">Liste des essences de bois</h1>
        <div class="container">
            <table
                    class="table"
                    data-toggle="table"
                    id="tableusine"
                    data-pagination="true"
                    data-language="Fr-fr"
                    data-search="true"
                    data-pagination-pre-text= "Précédent"
                    data-pagination-next-text= "Suivant"
                    data-pagination-detail-h-align= "right"
                    data-page-list= "[5, 10, 20, 30, 40, 50, All]"
                    data-page-value= "5"
                    data-toolbar = "#toolbar"
                    data-advanced-search="true"
                    data-filter-control="true"
                    data-filter-show-clear="true"
                    data-search-align="left"
                    data-show-toggle= "true"
                    data-show-pagination-switch= "true"
                    data-pagination-h-align= "left"
                    data-detail-formatter="detailFormatter"
                    data-show-footer="true"
                    data-show-print="true"
                    data-show-export="true"
                    data-data-click-to-select="true">

                <thead>
                <tr class="bg-light" >
                    <th class="fw-bold" data-field="numeroEssence" data-sortable="true">
                        Code
                    </th>
                    <th class="fw-bold" data-field="nomVernaculaire" data-sortable="true">
                        Nom vernaculaire
                    </th>
                    <th class="fw-bold" data-field="nomScientifique" data-sortable="true">
                        Nom Scientifique
                    </th>
                    <th class="fw-bold" data-field="categorieEssence" data-sortable="true">
                        Catégorie
                    </th>
                    <th class="fw-bold" data-field="dmMinima" data-sortable="true">
                        Diamètre minima autorisé (cm)
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for essence in liste_essences %}
                    <tr>
                        <td class="fw-light">
                            {{ essence.numeroEssence }}
                        </td>
                        <td class="fw-light">
                            {{ essence.nomVernaculaire }}
                        </td>
                        <td class="fw-light">
                            {{ essence.nomScientifique }}
                        </td>
                        <td class="fw-light">
                            {{ essence.categorieEssence }}
                        </td>
                        <td class="fw-light">
                            {{ essence.dmMinima }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <script src="{{ asset('assets/table/assets/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('assets/table/assets/popper.min.js') }}"></script>
    <script src="{{ asset('assets/table/popper.js') }}"></script>
    <script src="{{ asset('assets/table/assets/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/table/dist/bootstrap-table.min.js') }}"></script>
    <script src="{{ asset('assets/table/dist/extensions/toolbar/bootstrap-table-toolbar.min.js') }}"></script>
    <script src="{{ asset('assets/table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js') }}"></script>
    <script src="{{ asset('assets/table/dist/locale/bootstrap-table-fr-FR.min.js') }}"></script>
    <script src="{{ asset('assets/table/tableExport.min.js') }}"></script>
    <script src="{{ asset('assets/table/jspdf.min.js') }}"></script>
    <script src="{{ asset('assets/table/jspdf.plugin.autotable.js') }}"></script>
    <script src="{{ asset('assets/menu/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/table/dist/extensions/print/bootstrap-table-print.min.js') }}"></script>
    <script src="{{ asset('assets/table//dist/extensions/export/bootstrap-table-export.min.js') }}"></script>


{% endblock %}


