<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liste des exploitants</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <style>
        @media print {
            @page {
                margin-top: 0;
                margin-bottom: 0;
                size: landscape;
            }

            body {
                padding-top: 72px;
                padding-bottom: 72px ;
            }
            header {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                height: 50px;
            }

            footer {
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100px;
            }
        }

    </style>

</head>
<body>

<main>

    <div class=" mx-auto" style="width: 85%">
        <div  class="d-inline-flex mt-5 ms-5">
            <img src="{{ asset('assets/images/logo_snvlt.png') }}" height="64" alt="SNVLT">  <h1 class="font-weight-bold text-success m-2">Liste des exploitants forestiers agréés
                {% set indice = 0 %}
                {% for reprise in reprises %}
                    {% set indice = indice + 1 %}
                {% endfor %}
                - <span style="font-size: 24px;">{{ indice }}</span>
            </h1>

        </div>
        <small style="float: right">www.boislegal.ci</small>
        <hr>
        <table class="table table-responsive table-striped mt-5">

            <thead>
            <tr style="border: lightgrey 1px solid;">
                <td>
                    Titre forestier
                </td>
                <td>
                    Raison sociale
                </td>
                <td>
                    Code
                </td>
                <td>
                    Marteau
                </td>
                <td>
                    Autorisation
                </td>
            </tr>
            </thead>
            <tbody>

            {% for reprise in reprises %}
                <tr style="border: lightgrey 1px solid;">
                    <td class="fw-light">
                        <span class="badge p-1 bg-success fs-5 rounded-4" style="">{{ reprise.pef }}</span>
                    </td>
                    <td class="fw-light">
                        {{ reprise.raisonSocial }}
                    </td>
                    <td class="fw-light">
                        {{ reprise.code }}
                    </td>
                    <td class="fw-light">
                        {{ reprise.marteau }}
                    </td>
                    <td class="fw-light">
                        {{ reprise.autorisation }}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
<footer>

</footer>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="{{ asset('assets/assets/js/jquery.min-3.5.1.js') }}"></script>
<script src="{{ asset('assets/webapp/assets/vendors/jquery/jquery.min.js') }}"></script>

<script>
    $(document).ready(function() {
        window.print();
        window.close();
        //document.reload()
    })
</script>
</body>
</html>