{% extends 'base.html.twig' %}

{% block Titre %}SNVLT - Publication de Rapports OI {% endblock %}

{% block banniere %}
    <!-- Page Header Start -->
    <div class="container-fluid page-exploitant py-5 mb-5 wow fadeIn" data-wow-delay="0.9s">
        <div class="container text-center py-5">
            <h1 class="display-4 text-white animated slideInDown mb-4">Exploitants Forestiers</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0" style="border-radius: 10px;">
                    <li class="breadcrumb-item">
                        <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwi85cqJ35WBAxUiVEEAHYK0B3kQFnoECBcQAQ&url=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.system2is.snvlt&usg=AOvVaw189ZO0VPCLpPoM9s6a6oCA&opi=89978449" target="_blank" class="mx-auto">
                            <img class="me-5" src="{{ asset('assets/images/google_play.png') }}" style="height: 40px;" alt="Google Play Store">
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
{% endblock %}

{% block Contenu %}
    <link rel="stylesheet" href="{{ asset('assets/template/css/bootstrap.min.css') }}">
<!-- About Start -->
    <div class="container row h-100 border-1 mx-auto">
    <h1 class="display-6 mb-5 text-center text-success fw-bold">Rapports OI</h1>

        <div class="col-md-12">
            <div class=" py-5">
                <div class="">
                    <div class="row g-5">
                        <div class="col-lg-9 wow fadeInUp" data-wow-delay="0.1s">

                            <p class="mb-5 text-orange fs-5 fw-bold">L'exploitant forestier est le premier opérateur et maillon solide dans la chaine de valeurs de la filière bois.</p>
                            <div class="d-flex mb-5">
                                <div class="flex-shrink-0 btn-square rounded-circle" style="width: 90px; height: 90px;background-color: #cbdad5">
                                    <img class="img-fluid" src="{{ asset('assets/template/img/icon/icon-09-primary.png') }}" alt="">
                                </div>
                                <div class="ms-4">
                                    <h5 class="mb-3">Réglémentation</h5>
                                    <span>Le code forestier 2019, distinguent plusieurs catégories de forêt. Les modalités d’exploitation dans le domaine forestier national ont été fixées par le décret N°2019-980 du 27 Novembre 2019.</span>
                                    <a class="btn btn-primary" href="{{ path('app_reglementtation_exploitant') }}">Lire l'article</a>
                                </div>
                            </div>
                            <div class="d-flex mb-5">
                                <div class="flex-shrink-0 btn-square rounded-circle" style="width: 90px; height: 90px;background-color: #cbdad5">
                                    <img class="img-fluid" src="{{ asset('assets/template/img/icon/icon-07-primary.png') }}" alt="">
                                </div>
                                <div class="ms-4">
                                    <h5 class="mb-3">Documentation légale</h5>
                                    <span>Télécharger la grille de légalité </span><br>
                                    <a href="{{ path('liste_exploitants_pdf')}}" target="_blank" class="link text-danger"><img class="me-1" src="{{ asset('assets/template/img/icon/pdf.png') }}" alt="document">Télécharger la liste</a>
                                </div>
                            </div>
                            <div class="d-flex mb-5">
                                <div class="flex-shrink-0 btn-square rounded-circle" style="width: 90px; height: 90px;background-color: #cbdad5">
                                    <img class="img-fluid" src="{{ asset('assets/template/img/icon/document.png') }}" style="height: 40px" alt="">
                                </div>
                                <div class="ms-4">
                                    <h5 class="mb-3">Types demandes</h5>
                                    <a href="#" class="link btn btn-primary">Consulter la liste</a>
                                    <a href="{{path('app_portail')}}snvlt/" class="link btn btn-success ms-3">Accéder à votre espace</a>
                                </div>
                            </div>
                            <div class="d-flex mb-0">
                                <div class="flex-shrink-0 btn-square rounded-circle" style="width: 90px; height: 90px;background-color: #cbdad5">
                                    <img class="img-fluid text-light" src="{{ asset('assets/template/img/icon/document.png') }}" style="height: 40px; color:white;" alt="">
                                </div>
                                <div class="ms-4">
                                    <h5 class="mb-3">Annuaire</h5>
                                    <p>Visualisez la liste des exploitants forestier en activité pour cette année <b>2023</b></p>
                                    <a href="#" target="_blank" class="link text-danger"><img class="me-1" src="{{ asset('assets/template/img/icon/pdf.png') }}" alt="document">Télécharger</a>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="position-relative rounded overflow-hidden h-100" style="min-height: 600px;">
                                <img class="position-absolute w-100 h-100" src="{{ asset('assets/images/exploitant_img.png') }}" alt="" style="object-fit: cover;">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>


{%  endblock %}