{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans%} - {% trans %}Export/Import Authorization{% endtrans %}
{% endblock %}


{% block titre_page %}
    <h2 class="text-dark font-weight-bold mb-2">
        <img src="{{ asset('assets/images/webapp/exports_aproval.png') }}" alt="attribution">  {% trans %}Export/Import Authorization{% endtrans %} - {% trans %}[ADD]{% endtrans %}
    </h2>
{% endblock %}


 {% block notifs %}
     {% include 'base/notifs.html.twig' %}
 {% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}
    {% set options = option_service.findAll %}
    <link href="{{ asset('assets/dselect-main/dist/css/dselect.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('assets/css/style_snvlt.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/Js/date-picher/css/date-picker.min.css') }}">

    <section class="section">
        <div class="p-2 w-100 banniere"></div>
        <div class="card">
            <div class="card-body">
                {{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}
                <div class="row p-3 bg-white m-1">
                    <div class="col-md-4">

                        <div class="">{{ form_row(form.numero_autorisation) }}</div>
                        <div class="input-group">
                            {{ form_row(form.date_autorisation)}}
                            <button class="btn btn-outline-secondary" type="button" id="date-toggle" style="background-color: white; border: 0px;"><i class="mdi mdi-calendar text-dark font-weight-bold" style="font-size: 32px;"></i></button>
                            <div id="date-export"></div>
                        </div>
                        <div class="">{{ form_row(form.code_agreement) }}</div>

                        {% set valeur = options['autorisations_validation'] %}

                        <hr>
                        <a href="{{ path('ref_directions') }}" class="btn btn-sm bg-danger p-2 me-2 ms-5 text-white" style="font-weight: lighter"><i class="mdi mdi-backspace" style="font-size: 18px;margin-right: 10px;"></i>{% trans %}Back to list{% endtrans %}</a>
                        <button type="submit"  class="btn btn-sm bg-primary text-white p-2" style="margin-left: 10px;font-weight: lighter">
                            <i class="mdi mdi-database-edit" style="font-size: 18px;margin-right: 10px"></i>{% trans %}Add Agreement{% endtrans %}
                        </button>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>



        <!--Modification de l'attribution -->

    </section>

    <script src="{{ asset('assets/Js/date-picher/js/date-picker.min.js') }}"></script>
    <script src="{{ asset('assets/dselect-main/dist/js/dselect.min.js') }}"></script>
    <script src="{{ asset('assets/assets/js/jquery.min-3.5.1.js') }}"></script>
    <script src="{{ asset('assets/select2/select2.min.js') }}"></script>
    <script>
        const dateDemo = new DatePicker({
            el: '#date-export',
            toggleEl: '#date-toggle',
            inputEl: '#autorisation_exportateur_date_autorisation',
            inputToggle: true,
        });

    </script>

    <script>
        $('#btn-date').on('click', function (e){
            let test = $('#agreement_exportateur_date_decision').val();

            $("#agreement_exportateur_date_decision").val($.datepicker.formatDate('dd M yy', test));
        })
    </script>


{% endblock %}

