{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans%} - {% trans %}Export/Import Authorization{% endtrans %}
{% endblock %}

{% block titre_page %}
    <h2 class="text-dark font-weight-bold mb-2">
        <img src="{{ asset('assets/images/webapp/exports_aproval.png') }}" alt="attribution">  {% trans %}Export/Import Authorization{% endtrans %}
    </h2>
    <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
        <div class="btn-group p-1 rounded-5 " role="group" aria-label="Basic example">
            <a class="btn btn-inverse-danger p-2 mt-2" style="border: 0px; font-size: 16px;" href="{{ path('autorisationexpimp.edit') }}"> <i class="mdi mdi-plus-circle me-2" style="font-size: 20px;"></i>{% trans %}Add{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}
    <link rel="stylesheet" href="{{ asset('assets/webapp/assets/vendors/simple-datatables/style.css') }}">
    <section class="section">
        <table class="table table-responsive-sm bg-white" id="autorisationexport">
            <thead>
            <tr style="background: #0e5e73; color: #f0fcf0;">
                <th style="font-size: 18px;">{% trans %}Authorization No{% endtrans %}</th>
                <th style="font-size: 18px;">{% trans %}Authorization Date{% endtrans %}</th>
                <th style="font-size: 18px;">{% trans %}Exporter{% endtrans %}</th>
                <th style="font-size: 18px;">{% trans %}Cantonment{% endtrans %}</th>
                <th style="font-size: 18px;">{% trans %}Actions{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for autorisation in autorisationexports %}
                {% if(autorisation.reprise) %}
                    <tr class="alert-success">
                {% else %}
                    <tr class="alert-danger">
                {% endif %}
                <td class="text-dark fw-bold"><a class="text-dark fw-bold editBtn" style="font-size: 16px; font-weight: bold;" href="#" id="{{ autorisation.id }}">{{ autorisation.numeroAutorisation }}</a></td>
                <td class="text-dark fw-bold text-center">{{ autorisation.dateAutorisation | date('d/m/Y') }}</td>
                <td class="text-dark fw-bold"><span class="badge p-1 bg-dark text-white" style="font-size: 16px;border-radius: 10px;">{{ autorisation.codeAgreement.codeExportateur.raisonSocialeExportateur }} - [{{ autorisation.codeAgreement.codeExportateur.codeExportateur }}]</span></td>
                <td class="text-dark fw-bold">{{ autorisation.codeAgreement.codeExportateur.codeCantonnement.nomCantonnement }}</a></td>
                <td class="text-dark fw-bold"><a class="btn btn-sm text-danger"><i class="mdi mdi-cancel" style="font-size:  24px;" title="Retirer / Abandonner..."></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

    <script src="{{ asset('assets/webapp/assets/vendors/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ asset('assets/webapp/assets/vendors/jquery/jquery.min.js') }}"></script>

    <script>
        // Simple Datatable
        let table1 = document.querySelector('#autorisationexport');
        let dataTable = new simpleDatatables.DataTable(table1);
    </script>

{% endblock %}