{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans%} - Contrats BCBGFH
{% endblock %}

{% block titre_page %}
    <h2 class="text-dark font-weight-bold mb-2">
        <img src="{{ asset('assets/images/webapp/contract2.png') }}" alt="attribution">  Contrats BCBGFH
    </h2>
    <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
        <div class="btn-group p-1 rounded-5 " role="group" aria-label="Basic example">
           <a class="btn btn-primary font-weight-light p-2 mt-2" style="border: 0px; font-size: 16px;" href="{{ path('contrat_bcbgfh.edit') }}"> <i class="mdi mdi-plus-circle me-2" style="font-size: 20px;"></i>{% trans %}Add{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.4/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.1.1/css/buttons.dataTables.css" />
    <script src="https://cdn.datatables.net/2.1.4/js/dataTables.js"></script>
    <section class="section" style="border: 1px solid green">
        <div style="border: 2px solid darkgreen"></div>
        <div class="card">
            <div class="card-body">
                <table class="table" id="contrat_bcbgfh">
                    <thead>
                    <tr>
                        <th class="text-center">N° Contrat</th>
                        <th class="text-center">Durée</th>
                        <th class="text-center">Nombre Tiges</th>
                        <th class="text-center">Volume cumulé</th>
                        <th>Forêt classée</th>
                        <th>Exploitant</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contrat in contrats %}

                        <tr>

                                <td class="text-center"><a class="text-primary editBtn" href="{{ path('contrat_bcbgfh.edit', {'id_cbg': contrat.id })}}" id="{{ contrat.id }}">{{ contrat.numeroContrat }} du {{ contrat.dateContrat | date('d/m/Y') }}</a></td>
                                <td class="text-center">{{ contrat.duree }}</td>
                                <td class="text-center">{{ contrat.nbTiges }}</td>
                                <td class="text-center">{{ contrat.volumeCumul }}</td>
                                <td>{{ contrat.codeForet.denomination }}</td>
                                {% if( contrat.codeExploitant.sigle ) %}
                                    <td class="">{{ contrat.codeExploitant.sigle }}</td>
                                {% else %}
                                    <td class="">{{ contrat.codeExploitant.raisonSocialeExploitant }}</td>
                                {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
            </div>
        </div>
    </section>
    <script src="{{ asset('assets/webapp/assets/vendors/jquery/jquery.min.js') }}"></script>
    <script src="https://cdn.datatables.net/2.1.4/js/dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdn.datatables.net/buttons/3.1.1/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.1/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.1/js/buttons.html5.min.js"></script>
    <script src="hhttps://cdn.datatables.net/buttons/3.1.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <script>
        // Simple Datatable


        let table = new DataTable('#contrat_bcbgfh', {
            responsive: true,
            pageLength: 50,
            layout: {
                topStart: {
                    buttons: ['excel']
                }
            },
            colReorder: true,
            language: {
                processing:     "Traitement en cours...",
                search:         "Rechercher&nbsp;:",
                lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
                info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                infoPostFix:    "",
                loadingRecords: "Chargement en cours...",
                zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                emptyTable:     "Aucune donnée disponible dans le tableau",
                paginate: {
                    first:      "Premier",
                    previous:   "Pr&eacute;c&eacute;dent",
                    next:       "Suivant",
                    last:       "Dernier"
                },
                aria: {
                    sortAscending:  ": activer pour trier la colonne par ordre croissant",
                    sortDescending: ": activer pour trier la colonne par ordre décroissant"
                }
            }
        });
    </script>

{% endblock %}

