{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans %} - {% trans %}Mediatèque{% endtrans %}
{% endblock %}

{% block titre_page %}
    <h2 class="text-dark font-weight-bold mb-2">
        <img src="{{ asset('assets/images/webapp/course.png') }}" alt="{% trans %}Direction{% endtrans %}">  {% trans %}Mediatèque{% endtrans %}
    </h2>
{% endblock %}


 {% block notifs %}
     {% include 'base/notifs.html.twig' %}
 {% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}
    {% set i = 0 %}

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('assets/webapp/assets/vendors/choices.js/choices.min.css') }}" />


    <section class="section">
        <div class="card">

            <div class="card-body">
                {{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}
                <div class="row p-3 bg-white m-1">
                    <div class="col-md-6">
                        <div class="">{{ form_row(form.fichier) }}</div>
                        <div class="">{{ form_row(form.actif) }}</div>
                        <div class="">{{ form_row(form.code_operateur) }}</div>
                        <hr>
                        <a href="{{ path('app_helper_media') }}" target="_blank" class="btn btn-sm bg-danger p-2 me-2 ms-5 text-white" style="font-weight: lighter"><i class="mdi mdi-backspace" style="font-size: 18px;margin-right: 10px;"></i>{% trans %}Back to list{% endtrans %}</a>
                        <button type="submit"  class="btn btn-sm bg-primary text-white p-2" style="margin-left: 10px;font-weight: lighter">

                            {% if (titre is same as "Ajouter un média") %}
                                <i class="mdi mdi-database-edit" style="font-size: 18px;margin-right: 10px"></i>{% trans %}Ajouter un média{% endtrans %}
                            {% else %}
                                <i class="mdi mdi-database-edit" style="font-size: 18px;margin-right: 10px"></i>{% trans %}Modifier média{% endtrans %}
                            {% endif %}
                        </button>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>


        <!--Modification de l'dr -->

    </section>

    <script src="{{ asset('assets/webapp/assets/vendors/jquery/jquery.min.js') }}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ asset('assets/select2/select2.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="{{ asset('assets/webapp/assets/vendors/choices.js/choices.min.js') }}"></script>

{% endblock %}

